image: node:18

cache:
  paths:
    - node_modules/

pages:
  script:
    - npm install
    - npm run build
    - rm -rf public
    - cp -r dist public
    - ls -la public
  artifacts:
    paths:
      - public
  only:
    - main

