# GitLab Pages deployment for Vite React app
image: node:18

cache:
  paths:
    - node_modules/

pages:
  script:
    - npm install
    - npm run build
    - cp -r dist public
  artifacts:
    paths:
      - public
  only:
    - main

